<ion-list>
  <ion-list>
    <ion-item>
      <ion-input label="Name:" placeholder="Digite seu nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="CPF:" type="number" placeholder="Digite seu CPF"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Password:" type="password" value="Digite sua senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email:" type="email" placeholder="Digite seu email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Number" type="tel" placeholder="Digite seu número"></ion-input>
    </ion-item>
    <ion-range labelPlacement="start" label="Seu número favorito"></ion-range>
    <ion-range labelPlacement="end" label="Nota na última etapa"></ion-range>
    <ion-range labelPlacement="fixed" label="Idade"></ion-range>
    <ion-range labelPlacement="stacked" label="Satisfação"></ion-range>
  </ion-list>
</ion-list>
